# Loading scATAC-seq Data, you can find them with GEO number GSE228370

In [1]:
import SCATACpy

In [2]:
adata_1 = SCATACpy.Read.read_ATAC_10x('/home/DAIR/hul/scATAC-seq/data/Data/concat_data/GSM7119507_23pcw_scATAC_filtered_peak_bc_matrix_matrix.mtx', \
                                cell_names='/home/DAIR/hul/scATAC-seq/data/Data/concat_data/GSM7119507_23pcw_scATAC_filtered_peak_bc_matrix_barcodes.tsv', \
                                var_names='/home/DAIR/hul/scATAC-seq/data/Data/concat_data/GSM7119507_23pcw_scATAC_filtered_peak_bc_matrix_peaks.bed')
adata_1

AnnData object with n_obs × n_vars = 3467 × 193406
    uns: 'omic'

In [3]:
adata_2 = SCATACpy.Read.read_ATAC_10x('/home/DAIR/hul/scATAC-seq/data/Data/concat_data/GSM7119508_26pcw_n_scATAC_filtered_peak_bc_matrix_matrix.mtx', \
                                cell_names='/home/DAIR/hul/scATAC-seq/data/Data/concat_data/GSM7119508_26pcw_n_scATAC_filtered_peak_bc_matrix_barcodes.tsv', \
                                var_names='/home/DAIR/hul/scATAC-seq/data/Data/concat_data/GSM7119508_26pcw_n_scATAC_filtered_peak_bc_matrix_peaks.bed')
adata_2

AnnData object with n_obs × n_vars = 1184 × 89449
    uns: 'omic'

In [4]:
adata_concat_index = SCATACpy.Concat.atac_concat_get_index(adata_1,adata_2)
adata_concat_index

start chr13_
start chr18_
start chr1_
start chr6_
start chr20_
start chr7_
start chr22_
start chr17_
start chr21_
start chr3_
start chr4_
start chr12_
start chr14_
start chr8_
start chr19_
start chrX_
start chr10_
start chr15_
start chr11_
start chr5_
start chr2_
start chr9_
start chr16_
start chrY_

,overleaf_1,overleaf_2,index_new,index_1,index_2
chr13_17337522_17337758,0.684211,0.812632,chr13_17337433_17337908,chr13_17337522_17337758,chr13_17337433_17337908
chr13_18211556_18213312,0.792208,0.994178,chr13_18211543_18213776,chr13_18211556_18213312,chr13_18211543_18213776
chr13_18600112_18600444,1.323034,0.609551,chr13_18599973_18600444,chr13_18600112_18600444,chr13_18599973_18600329
chr13_18609307_18609827,1.271795,1.061538,chr13_18609307_18609827,chr13_18609307_18609827,chr13_18609331_18609721
chr13_19564546_19565396,1.278937,1.333966,chr13_19564546_19565396,chr13_19564546_19565396,chr13_19564722_19565249
...,...,...,...,...,...
chrY_56706971_56707455,0.986063,0.857143,chrY_56706889_56707463,chrY_56706971_56707455,chrY_56706889_56707463
chrY_56727936_56728362,0.956236,0.97593,chrY_56727925_56728382,chrY_56727936_56728362,chrY_56727925_56728382
chrY_56734603_56734980,0.931818,0.925,chrY_56734570_56735010,chrY_56734603_56734980,chrY_56734570_56735010
chrY_56763202_56763825,0.9968,1.0,chrY_56763202_56763827,chrY_56763202_56763825,chrY_56763202_56763827
chrY_56836479_56836974,0.902939,0.168029,chrY_56830676_56837651,chrY_56836479_56836974,chrY_56830676_56837651

In [8]:
adata_outer = SCATACpy.Concat.atac_concat_outer(adata_1,adata_2,adata_concat_index) #并集
adata_outer

/home/DAIR/hul/miniconda3/envs/scRNA/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
  utils.warn_names_duplicates("obs")

View of AnnData object with n_obs × n_vars = 4651 × 209986

In [6]:
adata_inner = SCATACpy.Concat.atac_concat_inner(adata_1,adata_2,adata_concat_index) #并集
adata_inner

/home/DAIR/hul/miniconda3/envs/scRNA/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
  utils.warn_names_duplicates("obs")

AnnData object with n_obs × n_vars = 4651 × 72869